MONGO_URI=mongodb+srv://<USUARIO>:<CONTRASEÑA>@cluster0.<CODIGO_MONGODB>.mongodb.net/<NOMBRE_BASE_DATOS>?retryWrites=true&w=majority&appName=Cluster0
PORT=5001

UPSTASH_REDIS_REST_URL="https://<ZZZ>.upstash.io"
UPSTASH_REDIS_REST_TOKEN="<ZZZ>"
